@model aspnetcore.Models.Student

@{
    ViewData["Title"] = "Редактировать студента";
}

<h1>Редактировать студента</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success mt-2">Сохранить</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Назад</a>
</form>
